.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  background-color: cadetblue;
}

.fondo {
  width: 500px;
  height: 650px;
  display: flex;               
  flex-direction: column;      
  justify-content: flex-start;
  text-align: center;
  border: 3px solid rgb(151, 16, 151);    
  padding: 20px;
  background-color: rgb(234, 231, 197);
  border-radius: 30px;
  font-size: large;
  font-family: cursive;
  box-shadow: 5px 5px 5px gray;
}

/* pantalla */
.pantalla {
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: right;
  background-color: gainsboro;
  border: 2px solid rgb(140,140,131);
  border-radius: 30px;
  box-sizing: border-box;
   display: flex;
  align-items: center;
  justify-content: flex-end;
}
.pantalla h1 {
  margin: 0;           
  font-size: 3.5em;    
  font-weight: bold;
}

.botones {
  flex: 1; 
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px;
  grid-auto-rows: 1fr; 
}

.botones button {
  width: 100%;
  height: 100%;
  font-size: small;
  padding: 0;
  border: none;
  border-radius: 8px;
  font-family: cursive;
  font-size: 2em;
  font-weight: bold;
  color: rgb(101,36,147);
  background: #e5e0ee;
}

button:hover {
  background-color: rgb(218, 135, 149);
}